p{
    font-size: 20px;
    display:inline;
    position:absolute;
}
h3{
    display:inline;
}
h1,h2{
    margin: 0;
}
h1{
    font-size: 32px;
}
h1{
    font-size: 28px;
}
.raceTrack{
    margin-bottom: 20px;
    background-color: rgb(255, 186, 148);
    width: 260px;
    height: 20px;
}